@model PRN211_Assignment3Library.Models.Product

@{
    ViewData["Title"] = "Details";
}

<section class="py-5">
    <form asp-controller="Orders" asp-action="Create">
        <input type="hidden" name="productId" value="@Model.ProductId" />
        <input type="hidden" name="unitPrice" value="@Model.UnitPrice" />
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="@Model.Images" alt="Product Image">
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: @Model.ProductId</div>
                <h1 class="display-5 fw-bolder">@Model.ProductName</h1>
                <div class="fs-5 mb-5">
                    <span>Price: $@Model.UnitPrice</span><br />
                    <span>Stock: @Model.UnitStock</span><br />
                    @if (Model.Category != null)
                    {
                        <span>Category: @Model.Category.CategoryName</span>
                    }
                </div>
                @if (Model.User != null)
                {
                    <p class="lead">Seller: @Model.User.UserName</p>
                }
                <div class="d-flex">
                    
                    <input class="form-control text-center me-3" id="inputQuantity" name="unitStock"type="number" value="1" style="max-width: 3rem" />
                        <button type="submit" class="btn btn-outline-dark flex-shrink-0">
                            <i class="bi-cart-fill me-1"></i>
                            Buy Now
                        </button>
                </div>
            </div>
        </div>
    </div>
</form>
</section>
